.container 
  .profile_back
    - if !current_page?(root_path)
      = link_to :back do
        = image_tag 'Group.png', class: 'header_back'
  .profile_name
    = current_user.account
  .profile_image
    = form_with(url: user_registration_path, method: 'put', local: true) do |f|
      = f.label :avatar do
        - if current_user.avatar&.attached?
          = image_tag current_user.avatar, class: 'profile_avatar'
        - else
          = image_tag 'default_avatar.png', class: 'profile_avatar'
        = f.file_field :avatar, class: 'uploader', style: 'display:none'
      = f.submit '画像を変更'
  %ul.profile_detail 
    %li
      %p 44
      %span Posts
    %li
      %p 110
      %span Followers
    %li
      %p 44
      %span Following
  .profile_post
    
    