.container 
  .go_to_post
    = link_to image_tag("camera.png"), new_post_path
  .posts 
    - @posts.each do |post|
      .card 
        .post_user
          .user_image
            = image_tag post.user.avatar, class: 'post_avatar', width: '30px', height: '30px'
          .post_user_detail
            .user_name 
              = post.user.account
            .when_posted 
              = post.date
        .post_images 
          - post.images.each do |image|
            = image_tag image
        .post_engagements
          .post_engagements_btn
            = link_to image_tag ("inactive_heart.png"), class: 'engagement_elements'
            = link_to image_tag ("comment.png"), class: 'engagement_elements'
            = link_to "https://twitter.com/share?url=#{ request.url }", class: 'btn btn-default', target: '_blank' do
              = image_tag 'share.png', class: 'engagement_elements'
          .who_liked 
            aaaa has liked your post
          .content 
            = post.user.account
            = post.content




